/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and font */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #f4f4f4;
    /* #333 */
}

/* Header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

/* About Section */
.about-section {
    background-image: url(https://www.shutterstock.com/shutterstock/photos/181166018/display_1500/stock-photo-business-team-standing-over-a-dark-background-181166018.jpg); /* Replace with your image URL */
    padding: 40px;
    text-align: center;
}

.about-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 1.2rem;
    margin-top: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Team Section */
.team-section {
    padding: 40px;
    background-color: #1d1c1c;
    text-align: center;
}

.team-section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-member {
    width: 250px;
    margin: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
}

.team-member img {
    width: 100%;
    border-radius: 50%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

.team-member h3 {
    font-size: 1.5rem;
    color:#1d1c1c;
    margin-bottom: 10px;
}

.team-member p {
    font-size: 1rem;
    color: #3d3b3b;
}

.team-member:hover {
    transform: translateY(-10px);
}

/* Footer */
footer {
    background-color: #242121;
    color: rgb(231, 229, 229);
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 1rem;
}
